$dark-primary-color: #342e61;

body {
	margin: 0;
	padding: 0;
	background-color: $dark-primary-color;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

#root {
	display: flex;
}

.container {
	width: 1440px;
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: space-between;
}

main {
	text-align: center;
}
